{% extends 'mqtt/index.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'mqtt/styles.css' %}">
{% endblock %}
{% block body %}
<button class="btn btn-danger" onclick="stop_ajax()">STOP AJAX</button>
<button class="btn btn-danger" onclick="start_ajax()">START AJAX</button>

    <div id="gaugecontainer">
        <div id="gauge">
            <div id="scale"></div>
            <div id="scalemask"></div>
            <div id="zeromark"></div>
            <div id="gaugelabel">KM/H</div>

            <div class="labelpos" id="pos0">⠀⠀0</div>
            <div class="labelpos" id="pos20">
                <div class="scLab" id="lab20">⠀20</div>
            </div>
            <div class="labelpos" id="pos40">
                <div class="scLab" id="lab40">⠀40</div>
            </div>
            <div class="labelpos" id="pos60">
                <div class="scLab" id="lab60">⠀60</div>
            </div>
            <div class="labelpos" id="pos80">
                <div class="scLab" id="lab80">⠀80</div>
            </div>
            <div class="labelpos" id="pos100">
                <div class="scLab" id="lab100">100</div>
            </div>
            <div class="labelpos" id="pos120">
                <div class="scLab" id="lab120">120</div>
            </div>
            <div class="labelpos" id="pos140">
                <div class="scLab" id="lab140">140</div>
            </div>
            <div class="labelpos" id="pos160">
                <div class="scLab" id="lab160">160</div>
            </div>
            <div class="labelpos" id="pos180">
                <div class="scLab" id="lab180">180</div>
            </div>
            <div class="labelpos" id="pos200">
                <div class="scLab" id="lab200">200</div>
            </div>
            <div class="labelpos" id="pos220">
                <div class="scLab" id="lab220">220</div>
            </div>
            <div class="labelpos" id="pos240">
                <div class="scLab" id="lab240">240</div>
            </div>
            <div class="labelpos" id="pos260">
                <div class="scLab" id="lab260">260</div>
            </div>
        </div>
        <div id="center"><div id="center_gauge" style="margin-left: 25%;margin-top: 35%;font-size: 50px;">20 kmh</div></div>
    </div>

    <div class="slidecontainer" style="display:none">
        <input type="range" min="0" max="270" value="1" class="slider" id="kmhslider">
        <p>km/h: <span id="valueshow"></span></p>
    </div>
      <div class="battery">
        <div id = "battery_indicator" class="battery-level" style="height:100%;"></div>
      </div>


{% endblock %}

{% block js %}
<script src="{% static 'mqtt/dashboard.js' %}"></script>
<script>
  //increase second parameter for increased responsiveness at the cost of server load(1=fast, but 1000 ajax calls per second)
//10 => 0.76s responsiveness, 1 => 0.38s, 1000 => ~2s 
RefreshInterval = setInterval(refresh, 10)
BatteryInterval = setInterval(battery, 3000)
function stop_ajax() {
  clearInterval(RefreshInterval)
  clearInterval(BatteryInterval)
}
function start_ajax() {
  RefreshInterval = setInterval(refresh, 10)
  BatteryInterval = setInterval(battery, 3000)
}
</script>
{% endblock %}