{% extends 'mqtt/index.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}
{% block body %}
{% if user.is_staff %}

<h1 style="margin-top:2%;margin-left:2%">Dashboard Admin Actions</h1>

  </div>
{% csrf_token %}
<div id="alert" class='alert alert-success' style="display: none;"></div>
<div style="margin-left:5%;margin-top:5%">

    <div class='flex-container' style='display:flex;height:100px;align-items: space-around;justify-content: center;flex-direction: row;gap:5%;flex-wrap: wrap;'>
        <div>
            <button class='btn btn-primary' onclick="increment_trip()">Increment Trip</button>
        </div>
        <div>
            <button class='btn btn-primary' onclick="mqtt_publish()">Publish MQTT(Debug)</button>
        </div>
    </div>
    <table width="100%">
        <tbody>
            <tr><td>
                <div>
                    <h4>    Active Trip: 
                    </h4>
                        <ol>
                            <li>
                                <b>Name:</b> {{trip.name}}
                            </li>
                            <li>
                                <b>Created:</b> {{trip.date_created}}
                            </li>
                        </ol>
                    </div>
            </td>
        <td>
            <h4>    Site Map 
            </h4>
                <ol>
                    <li>
                        <a href="{% url 'index' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'admin:index' %}">Django Admin</a>
                    </li>
                    <li>
                        <a href="{% url 'dash_admin' %}">Dashboard Admin</a>
                    </li>
                    <li>
                        <a href="{% url 'team_view' %}">Team View</a>
                    </li>
                </ol>
            </div>
            
        </td></tr>
        
        </tbody>
    </table>

</div>

{% else %}
<div class="alert alert-danger" role="alert">Error: Access Denied. Please login <a href="/admin">here</a></div>
{% endif %}
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    function increment_trip() {
        let name = prompt("Trip Name")
        fetch(`{% url 'dash_admin' %}`, {
            method: 'POST',
            headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
            credentials: 'same-origin',
            body: JSON.stringify({
                'data': `${name}`,
                'feature': "increment_trip"
            })
        })
        .then(response=>response.json())
        .then(result => {
            if(result['status'] == 200) {
                const alert = document.getElementById('alert')
                alert.innerHTML = `${function1} completed successfully`
                alert.style.display='block'
            }
        })
    };
    function mqtt_publish() {
        let topic = prompt("Topic Name")
        let message = prompt("Message")
        fetch(`{% url 'dash_admin' %}`, {
            method: 'POST',
            headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
            credentials: 'same-origin',
            body: JSON.stringify({
                'data': `{"topic": "${topic}", "message": "${message}"}`,
                'feature': "publish_mqtt"
            })
        })
        .then(response=>response.json())
        .then(result => {
            if(result['status'] == 200) {
                const alert = document.getElementById('alert')
                alert.innerHTML = `${function1} completed successfully`
                alert.style.display='block'
            }
        })
    };        
    function admin(function1) {
        fetch(`/admin_view`, {
            method: 'POST',
            headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
            credentials: 'same-origin',
            body: JSON.stringify({
                'function': `${function1}`
            })
        })
        .then(response=>response.json())
        .then(result => {
            if(result['status'] == 200) {
                const alert = document.getElementById('alert')
                alert.innerHTML = `${function1} completed successfully`
                alert.style.display='block'
            }
        })
    }
</script>
{% endblock %}