<div style="width: 100%; height: 100%; position: relative; background: white">
    <div id="speedometer" style="width: 40%; height: 50%; left: 30%; top: 24.8%; position: absolute; background: #D9D9D9; border: 1px solid"></div>        
    <svg style="height: 14%; left: 6%; top: 4.8%; position: absolute;" viewBox="0 0 37 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Turn Left" d="M0.585786 13.5858C-0.195262 14.3668 -0.195262 15.6332 0.585786 16.4142L13.3137 29.1421C14.0948 29.9232 15.3611 29.9232 16.1421 29.1421C16.9232 28.3611 16.9232 27.0948 16.1421 26.3137L4.82843 15L16.1421 3.68629C16.9232 2.90524 16.9232 1.63891 16.1421 0.857864C15.3611 0.0768158 14.0948 0.0768158 13.3137 0.857864L0.585786 13.5858ZM37 13H2V17H37V13Z" fill="black"/>
        </svg>
    <svg style="height: 14%; right: 6%; top: 4.8%; position: absolute;" viewBox="0 0 37 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Turn Right" d="M36.4142 16.4142C37.1953 15.6332 37.1953 14.3668 36.4142 13.5858L23.6863 0.857864C22.9052 0.0768158 21.6389 0.0768158 20.8579 0.857864C20.0768 1.63891 20.0768 2.90524 20.8579 3.68629L32.1716 15L20.8579 26.3137C20.0768 27.0948 20.0768 28.3611 20.8579 29.1421C21.6389 29.9232 22.9052 29.9232 23.6863 29.1421L36.4142 16.4142ZM0 17H35V13H0L0 17Z" fill="black"/>
        </svg>
    <div id="battery" style="width: 10.8%; height: 40%; left: 7.6%; top: 34.8%; position: absolute; background: #D9D9D9; border: 1px solid"></div>

    <div id="headlights" style="width: 7%; height: 14%; left: 46.4%; top: 4.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 90%; top: 24.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 80%; top: 24.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 90%; top: 44.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 80%; top: 44.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 90%; top: 64.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 80%; top: 64.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 50%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 40%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 30%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 20%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 10%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 70%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 60%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 90%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
    <div style="width: 5%; height: 10%; left: 80%; top: 84.8%; position: absolute; background: #D9D9D9"></div>
</div>