{% extends 'mqtt/index.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}
{% block body %}
{% if user.is_superuser %}
<h1>Dashboard Admin Actions</h1>
{% csrf_token %}
<div id="alert" class='alert alert-success' style="display: none;"></div>
<div class='flex-container' style='display:flex;height:100px;align-items: space-around;justify-content: center;flex-direction: row;gap:5%;flex-wrap: wrap;'>
    <div>
        <button class='btn btn-primary' onclick="confirm_refresh()">Increment Trip</button>
    </div>

</div>

{% else %}
<div class="alert alert-danger" role="alert">Error: Access Denied</div>
{% endif %}
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
        function confirm_refresh() {
        var result = confirm("Would you like to send an email to all users?");
            if (result == true) {
                doc = admin(function1="refresh");
            } else {
                alert("Action Cancelled");
            }
    };
    function admin(function1) {
        fetch(`/admin_view`, {
            method: 'POST',
            headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
            credentials: 'same-origin',
            body: JSON.stringify({
                'function': `${function1}`
            })
        })
        .then(response=>response.json())
        .then(result => {
            if(result['status'] == 200) {
                const alert = document.getElementById('alert')
                alert.innerHTML = `${function1} completed successfully`
                alert.style.display='block'
            }
        })
    }
</script>
{% endblock %}