{% extends 'mqtt/index.html' %}
{% load static %}
{% block css%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<!-- CSS stylesheet -->
<style type="text/css">
  html,
  body {
    height: 100%;
    background:black;
  }
  #green {
    height: 100%;
    background: rgb(255, 172, 245);
    text-align: center;
    color: black;
  }
  h4 {text-align: center;}

</style>
<div style="font-size:40px">
  <p><span id="hours">00</span>:<span id="seconds">00</span>:<span id="tens">00</span></p>
</div>

  <!--tab content-->
  <div style="position:relative">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-2" id="green">
				<!-- Navigation links in sidebar-->
				<a href="#list-item-1">Speed</a>
				<br/>
				<br/>
				<a href="#list-item-2">RPM</a>
				<br/>
				<br/>
				<a href="#list-item-3">Fuel Cell Voltage</a>
				<br/>
				<br/>
				<a href="#list-item-4">Fuel Cell Current</a>
				<br/>
				<br/>
        <a href="#list-item-5">Fuel Cell Power</a>
				<br/>
				<br/>
        <a href="#list-item-6">Fuel Cell Temperature</a>
				<br/>
				<br/>
			</div>
      
  <div class="col-10" style="text-align: justify;">
    
      <h4 id="list-item-1">Speed</h4>
        <div id= "daqSpeed">
           <canvas id="daq.speed"></canvas>
        </div>
      <br/>
			<br/>
      <h4 id="list-item-2">RPM</h4>
        <div id= "BearRpm">
           <canvas id="rpm"></canvas>
        </div>
      <br/>
			<br/>
      <h4 id="list-item-3">Fuel Cell Voltage</h4>
        <div id= "voltage">
          <canvas id="power_control.voltage"></canvas>
        </div>
      <br/>
			<br/>
      <h4 id="list-item-4">Fuel Cell Current</h4>
        <div id= "current">
          <canvas id="power_control.current"></canvas>
        </div>
      <br/>
			<br/>
      <h4 id="list-item-5">Fuel Cell Power</h4>
        <div id= "power">
            <canvas id="power_control.power"></canvas>
        </div>
      <br/>
			<br/>
      <h4 id="list-item-6">Fuel Cell Temperature</h4>
        <div id= "temperature">
          <canvas id="power_control.temperature"></canvas>
        </div>
        </p>
    </div>
  </div>
</div>
  
{% endblock %}

{% block js %}

<!-- <script src="{% static 'mqtt/team_dash.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'mqtt/chart.js' %}"></script>


{% endblock %}