:root {
    --black: #000;
    --lightcolor: #d48961;
    --color: #c7622a;
    --darkcolor: #8b441d;
}
* {
    margin: 0px;
}
html {
    background-color: #101010;
    color: var(--color);

    font-family: 'Eurostile';
    font-weight: normal;
    font-size: 125%;
}



.slidecontainer{
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 3px;
    border-top: 1px solid var(--darkcolor);
    border-left: 1px solid var(--darkcolor);
    border-radius: 6px;
}
#kmhslider{
    appearance: none;
    height: 1px;
    width: 200px;
    background: #00ffff44;
    margin-top: 10px;
    margin-bottom: 10px;

}

#gaugecontainer {
    /*remove margin for raspi*/
    border: 1px solid #FF800033;
    margin: 20;
    position:absolute;
    /*adjust to display size*/
    --size: 800px;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: var(--black);
}
#gauge {
    position: absolute;
    --size: 73%;
    width: var(--size);
    height: var(--size);
    top: calc( (100% - var(--size)) * 0.5);
    left: calc( (100% - var(--size)) * 0.5);
    border-radius: 50%;
    background-blend-mode: multiply;
}
#center{
    background-color: var(--black);
    position: absolute;
    --size: 30%;
    width: var(--size);
    height: var(--size);
    top: calc( (100% - var(--size)) * 0.5);
    left: calc( (100% - var(--size)) * 0.5);
    border-radius: 50%;
}
#scale{
    background: repeating-conic-gradient(from 269deg, var(--darkcolor) 1deg 9.4deg, black 9.4deg 10.6deg, var(--darkcolor) 10.6deg 19deg, black 19deg 21deg),
                conic-gradient(from 178deg, black 0deg 90deg, white 101deg 351deg, black 360deg );

    background-blend-mode: multiply;
    position: absolute;
    --size: 102%;
    width: var(--size);
    height: var(--size);
    top: calc( (100% - var(--size)) * 0.5);
    left: calc( (100% - var(--size)) * 0.5);
    border-radius: 100%;
    z-index: -2;
}
#scalemask {
    position:absolute;
    --size: 100.5%;
    width: var(--size);
    height: var(--size);
    top: calc( (100% - var(--size)) * 0.5);
    left: calc( (100% - var(--size)) * 0.5);
    border-radius: 100%;
    background-color: var(--black);
    z-index: -1;
}

/*positioning of the scale numbers*/
.labelpos{
    position:absolute;
    top: 50%;
    right: 50%;
    width: 65.5%;
    transform-origin: 100% center;
    line-height: 0px;
    font-size: 200%;
}
.scLab{
    position:absolute;
    transform-origin: 25px 0px;
    width:fit-content;
}
:root{
     --r20: 17.5deg;
     --w20: 65%;

     --r40: 36deg;
     --w40: 64.5%;
     
     --r60: 56deg;
     --w60: 63%;
     
     --r80: 75deg;
     --w80: 61%;
     
    --r100: 98.4deg;
    --w100: 60.1%;
    
    --r120: 119deg;
    --w120: 61%;
    
    --r140: 139.5deg;
    --w140: 61%;
    
    --r160: 160deg;
    --w160: 61%;
    
    --r180: 178.8deg;
    --w180: 61.2%;
    
    --r200: 198deg;
    --w200: 61.4%;
    
    --r220: 218deg;
    --w220: 61%;
    
    --r240: 238deg;
    --w240: 60.5%;
    
    --r260: 259deg;
    --w260: 60%;
    
}
#pos20{
    transform: rotate(var(--r20));
    width: var(--w20);
}
#lab20 {
    transform: rotate(calc(0deg - var(--r20)));
}
/***/
#pos40{
    transform: rotate(var(--r40));
    width: var(--w40);
}
#lab40 {
    transform: rotate(calc(0deg - var(--r40)));
}
/***/
#pos60{
    transform: rotate(var(--r60));
    width: var(--w60);
}
#lab60 {
    transform: rotate(calc(0deg - var(--r60)));
}
/***/
#pos80{
    transform: rotate(var(--r80));
    width: var(--w80);
}
#lab80 {
    transform: rotate(calc(0deg - var(--r80)));
}
/***/
#pos100{
    transform: rotate(var(--r100));
    width: var(--w100);
}
#lab100 {
    transform: rotate(calc(0deg - var(--r100)));
}
/***/
#pos120{
    transform: rotate(var(--r120));
    width: var(--w120);
}
#lab120 {
    transform: rotate(calc(0deg - var(--r120)));
}
/***/
#pos140{
    transform: rotate(var(--r140));
    width: var(--w140);
}
#lab140 {
    transform: rotate(calc(0deg - var(--r140)));
}
/***/
#pos160{
    transform: rotate(var(--r160));
    width: var(--w160);
}
#lab160 {
    transform: rotate(calc(0deg - var(--r160)));
}
/***/
#pos180{
    transform: rotate(var(--r180));
    width: var(--w180);
}
#lab180 {
    transform: rotate(calc(0deg - var(--r180)));
}
/***/
#pos200{
    transform: rotate(var(--r200));
    width: var(--w200);
}
#lab200 {
    transform: rotate(calc(0deg - var(--r200)));
}
/***/
#pos220{
    transform: rotate(var(--r220));
    width: var(--w220);
}
#lab220 {
    transform: rotate(calc(0deg - var(--r220)));
}
/***/
#pos240{
    transform: rotate(var(--r240));
    width: var(--w240);
}
#lab240 {
    transform: rotate(calc(0deg - var(--r240)));
}
/***/
#pos260{
    transform: rotate(var(--r260));
    width: var(--w260);
}
#lab260 {
    transform: rotate(calc(0deg - var(--r260)));
}
/***/



/*the "KM/H" */
#gaugelabel{
    position:absolute;
    top: 51.5%;
    left: 3%;
    font-size: 25px;
}

#zeromark{
    position: absolute;
    top:50.3%;
    background-color: var(--color);
    width: 50%;
    height: 1%;

}

#cornerborder{
    position: absolute;
    height: 50%;
    width: 50%;
    transform: translate(-8%, 112%);
    border: 1px solid var(--color);
    border-radius: 4%;
}
#odometer{
    color: var(--darkcolor);
    position:absolute;
    right:6%;
    top: 6%;
    width: 47%;
}
#km_total{
    position:absolute;
    top: 0px;
    right: 0px;
    border: 1px solid var(--darkcolor);
    color: var(--color);
    border-radius: 5px;
    text-align: center;
    padding: 2px 7px;
    width: 67%;;
    font-size: 160%;
}
#tripmeter{
    color: var(--darkcolor);
    position:absolute;
    right:6%;
    top: 20%;
    width: 47%;
}
#km_trip{
    position:absolute;
    top: 0px;
    right: 0%;
    border: 1px solid var(--darkcolor);
    color: var(--color);
    border-radius: 5px 5px 5px 5px;
    text-align: right;
    padding: 2px 7px;
    padding-right: 25%;
    width: 46%;;
    font-size: 160%;
}
#km_trip_decimal{
    position:absolute;
    top: 1px;
    right: -44%;
    color: var(--color);
    text-align: left;
    padding: 2px 7px;
    width: 64%;;
    font-size: 160%;
}
#tripswitch_1{
    width: 35%;
    height: 15%;
    border: 1px solid var(--color);
    background-color: var(--color);
    position: absolute;
    top:210%;
    left: 25%;
    border-radius: 100px;
}
#tripswitch_2{
    width: 35%;
    height: 15%;
    border: 1px solid #022;
    background-color: #022;
    position: absolute;
    top:210%;
    right: 0px;
    border-radius: 100px;
}
#tripswitchbutton{
    position: absolute;
    top: 70px;
    left: 10px;
    width: 80px;
    font-family: 'Eurostile';
    font-weight: normal;
    font-size: 100%;
    color: var(--color);
    text-align: center;
    border-left: 1px solid var(--darkcolor);
    border-top: 1px solid var(--darkcolor);
    background-color: transparent;
    border-radius: 5px;
}
@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('fonts/eurostile.ttf') format('ttf');
}
/* for battery */
body {
    padding: 25px 50px;
  }
    
  .battery {
    border: 3px solid #333;
    width: 18px;
    height: 28px;
    padding: 2px;
    border-radius: 4px;
    position: relative;
    margin: 15px 0;
    
    &:before {
      content: '';
      height: 3px;
      width: 18px;
      background: #333;
      display: block;
      position: absolute;
      top: -6px;
      border-radius: 4px 4px 0 0;
    }
  
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 1px solid #fff;
      border-radius: 2px;
    }
  }
  
  .battery-level {
    background: #30b455;  
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    
    &.warn {
      background-color: #EFAF13;
    }
      
    &.alert {
      background-color: #e81309;
      
      &:before {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%3E%3C%2Fg%3E%20%3Cpath%20fill%3D%22%23e81309%22%20d%3D%22M17.927%2012l2.68-10.28c0.040-0.126%200.060-0.261%200.060-0.4%200-0.726-0.587-1.32-1.314-1.32-0.413%200-0.78%200.187-1.019%200.487l-13.38%2017.353c-0.18%200.227-0.287%200.513-0.287%200.827%200%200.733%200.6%201.333%201.333%201.333h8.073l-2.68%2010.28c-0.041%200.127-0.060%200.261-0.060%200.4%200.001%200.727%200.587%201.32%201.314%201.32%200.413%200%200.78-0.186%201.020-0.487l13.379-17.353c0.181-0.227%200.287-0.513%200.287-0.827%200-0.733-0.6-1.333-1.333-1.333h-8.073z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E'); background-repeat: no-repeat;
    background-size: $lightning-size;
    height: $lightning-size;
    width: $lightning-size;
    margin: -25px 0 0 2px;
        content: '';
        display: inline-block;
        position: absolute;
      }
    }    
  }